emergency-service/src/main/resources/xsd/Emergency.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="emergency"
           xmlns="emergency"
           elementFormDefault="qualified">

    <xs:element name="Emergency">
        <xs:annotation>
            <xs:documentation>
                Emergency
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="shipId" type="xs:long"/>
                <xs:element name="type" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
